.idea
.DS_Store
server.bak/
venv/
**/*.bak
\#*\#
**~
neo4j/import*
neo4j/data/
scripts/builds/logs/*.log
scripts/resources/
scripts/pkt_kg/
scripts/owlnets_output*
scripts/owl
scripts/venv
scripts/.python-version
scripts/robot
server/.openapi-generator

# config file
server/openapi_server/resources/app.properties

# log files in any path
**/*.log

