UMLS_SOURCE_DIR = ''
ONTOLOGY_SOURCE_DIR = ''
TABLE_CREATE_SQL_FILEPATH = ''
INDEX_CREATE_SQL_FILEPATH = ''
OUTPUT_DIR = ''
EDGE_LIST_FILE_TABLE_INFO = []
NODE_METADATA_FILE_TABLE_INFO = []
DBXREF_FILE_TABLE_INFO = []
SYNONYM_LIST_FILE_TABLE_INFO = []
RELATIONS_FILE_TABLE_INFO = []

# Neo4j connection
NEO4J_SERVER = ''
NEO4J_USERNAME = ''
NEO4J_PASSWORD = ''

# mysql connection
MYSQL_HOSTNAME = ''
MYSQL_USERNAME = ''
MYSQL_PASSWORD = ''
MYSQL_DATABASE_NAME = ''
